@import url('https://fonts.googleapis.com/css2?family=Abel&family=Open+Sans&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.seat.occupied{
  background-color: rgba(12, 3, 4, 0.555);
}
.seat.selected{
  background-color: steelblue;
}
body{
  background:rgb(36, 35, 51);
  align-items: center;
  justify-content: center;
  width: 400px;
  display: block;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

#movieSaloon{
  margin-top: 200px;
  align-items: center;
  justify-content: center;
  align-content: center;
 
}


#movieSelector select{
  margin-left: 20px;
  border: none;
  border-radius: 5px;
  padding: 3px 5px;
  font-size: 16px;
  box-shadow: 1px 1px 15px rgba(226, 224, 224, 0.5);

}

#legend{
  display: block;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 100px;
}

#legend ul li{
  display: flex;
  list-style:none;
  float: left;
  justify-content: space-between;
  padding-left: 30px;
}
#legend ul li small{

  align-self: center;
  margin-left: 5px;
}
#rows{
  perspective: 700px;

}
#screen{
  background-color: seashell;
  height: 150px;
  width: 350px;
  margin: auto;
  transform: rotateX(-45deg);
  margin-bottom: 50px;
  box-shadow: 1px 2px 20px rgba(255, 255, 255, 0.5);
}

#rows{
  text-align: center;
}
.row{
  display: flex;
  justify-content: center;
  
}


.seat{
  height: 30px;
  width: 30px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: rgb(80, 79, 79);
  margin: 5px 5px;
}


.seat:nth-last-of-type(2){
  margin-left: 20px;
}
.seat:nth-of-type(2){
  margin-right: 20px;
}

.seat:not(.occupied):hover{
  cursor: pointer;
  transform: scale(1.1);
}

#reciept{
  text-align: center;
  padding: 20px 0;
  box-shadow: 0px 1px 5px rgba(255, 255, 255,0.5);
  margin-top: 10px;
}